<html>

<head>
    <title>

    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>


    <style>
        #logo {
            font-family: 'Sofia';
            font-size: 32px;
            float: right;
            padding: 10px;
        }
    </style>


</head>

<body>

    <div id="todo-table">
        <div id="logo">LoCo</div>
        <form action="/efgh" method="POST">
            <input id="pp" type="text" name="item1" placeholder="pickup" required>
            <input id="dp" type="text" name="item2" placeholder="destination" required>
            <input type="submit" name="submit">

        </form>

        <div>
            <iframe
            width="750px"
            height="300px"
            src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyB_dvpiDyg07irvwzeHg2afFILSaXRXH7E&origin=kaloor&destination=edapally&avoid=tolls|highways"></iframe>
            
        </div>





    </div>



</body>

</html>