<html>
    <head>
        <title>
                  
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

            

    </head>

    <body>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="pick-up point" required>
                <input type="text" name="item" placeholder="destination" required>
                <button type="submit">
                 Find Route
                </button>
            </form>

            <div>
                <ul>
                    
                   </ul>
            </div>

              

        </div>

       <div>
        <iframe width="860" height="300" src="https://maphub.net/embed/31776?panel=1" frameborder="0"></iframe>
       </div>
        
    </body>
</html>

