<html>
    <head>
        <title>
            <script src="jquery-3.4.1.min.js"></script>
            <link href="/assets/stles.css" rel="stylesheet" type="text/css"/>

        
        </title>

    </head>

    <body>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="add new item..." required>
                <button type="submit">
                 Add Item
                </button>
            </form>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>

        </div>
    </body>
</html>